
body{
	font-family: sans-serif;
}

#tavernBackground{
    top: 0px;
    left: 0px;
}

#tavernName{
    position: absolute;
    top: 40px;
    left: 30px;
    font-size: 1em;
	font-weight: bold;
}


